{{ attach_library('lesroisdelareno/product-full') }}

{% if page.top_header %}
	{{ page.top_header }}
{% endif %}


{% if page.hero_slider %}
	{{ page.hero_slider }}
{% endif %}

{% if page.content %}
	<div{{page.content.attributes.addClass("container")}}>
		<div class="page-product-full row">
			<div class="side-bar-left col-md-3">
				{{ page.commerce_sidebar_left }}
			</div>
			<div class="col-md-9">
				{{ page.content|without('attributes','wrapper_attribute') }}
			</div>
		</div>
	</div>
{% endif %}


{% if page.call_to_action %}
	{{ page.call_to_action }}
{% endif %}


{% if page.footer %}
	{{ page.footer }}
{% endif %}
