{#
	wbu-atomique/scss/molecule/stan/billetDeBlogTeaser.scss
#}
{% if content %}
{# on ajoute un template #}
              {% set RenderBgimage = {
                  '#theme':'formatage_models__img_url',
                  '#content_all': content.bgimage,
                  '#tag_fields': '',
                  '#tag_field': '',
                  '#tag_field_attibutes':{}
                } 
              %}
              {% set RenderBgimagHtml %}{{ render_var(RenderBgimage) }}{% endset %}
    <div class="billetDeBlogTeaser" style="background-image: url('{{ RenderBgimagHtml|striptags|trim }}');">
    	{# url #}
        {% if content.url %}	    
    	    {% set RenderUrl = content.url|layout_raw(0) %}
        	{% if RenderUrl.value %}
                {% set RenderUrl %}{{- path('entity.node.canonical', {'node': RenderUrl.value}) -}}{% endset %}
        	{% endif %}
        {% endif %}
        
        {% if RenderUrl %}<a href="{{- RenderUrl -}}" class="cover-link">{% endif %}{% if RenderUrl %}</a>{% endif %}
        <div class="background">
            <div class="billetDeBlogTeaser__text">
                <div class="date">{{ content.date }}</div>
                <div class="title">
                    {{ render_var({ '#theme': 'formatage_models__clean_field', '#content_all': content.titre  }) }}
                </div>
            </div>
        </div>
    </div>
{% endif %}