{% if page.top_header %}
	{{ page.top_header }}
{% endif %}


{% if page.hero_slider %}
	{{ page.hero_slider }}
{% endif %}

{% if page.content %}
<div{{ page.content.attributes }}>
	{{ page.content|without('attributes','wrapper_attribute') }}	
</div>
{% endif %}

{% if page.call_to_action %}
	{{ page.call_to_action }}
{% endif %}


{% if page.footer %}
	{{ page.footer }}
{% endif %}